@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ! Defaults, variables and keyframes */
:root {
  --primary-color: #04c842;
  --secondary-color: #971010;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --max-width: 1200px;
  --sports-color: #f99500;
  --ent-color: #a66bbe;
  --tech-color: #009cff;
}

/* * Pulsating down arrow */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* * Event filtering animations */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  font-family: 'Poppins', serif;
}

p {
  margin: 0.5rem 0;
  color: #fff;
}

img {
  /* width: 100%; */
}

/* ! Utilities */
.event-link {
  display: block;
  color: #fff;
  transition: 0.3s;
}

.category {
  display: inline-block;
  color: #fff;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

.category-sports {
  background: var(--sports-color);

  & + h3 > .event-link:hover {
    color: var(--sports-color);
  }
}

.category-ent {
  background: var(--ent-color);

  & + h3 > .event-link:hover {
    color: var(--ent-color);
  }
}

.category-tech {
  background: var(--tech-color);

  & + h3 > .event-link:hover {
    color: var(--tech-color);
  }
}

.dark-background {
  background: #222;
}

.align-left {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

/* ! Blur effects */
.blur {
  filter: blur(5px);
  transition: filter 0.3s ease-in-out;
}

body.popup-open {
  filter: blur(5px);
  transition: filter 0.3s ease-in-out;
}

/* ! Background video */
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  object-fit: cover;
  opacity: 0.8;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

/* ! Overlays */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100svh;
  background: #0393d6;
  mix-blend-mode: overlay;
}

.popup-card-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8999;
  pointer-events: all;
  backdrop-filter: blur(10px);
}

/* ! Hamburger Menu */
.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  opacity: 0;
  transition: opacity 0.3s ease;

  ul {
    position: relative;
    color: #fff;
    z-index: 2;

    li {
      a {
        font-size: 24px;
        color: #fff;

        &:hover {
          color: #03a9f4;
        }
      }
    }
  }
}

/* + Disables scrolling and outside elements from being clickable when burger menu is open */
body.menu-open {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  .menu {
    pointer-events: auto;
  }

  .toggle.active {
    pointer-events: auto;
  }
}

/* ! To Top button */
#scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 8999;
  opacity: 0;
  transition: opacity 0.7s ease;

  img {
    width: 80%;
    filter: invert(1); /* + Turns the arrow white */
  }

  &:hover {
    transform: scale(1.2);
  }
}

/* ! Event card popup */
.popup-card {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  z-index: 10001;
  width: 80vw;
  max-width: 600px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  backdrop-filter: blur(24px);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  pointer-events: auto;
  overflow-y: auto;
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  transform: translate(-50%, -50%) scale(0);

  &.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &.fadeOut {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  h3 {
    font-size: 1rem;
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 7px;
    margin-bottom: 5px;

    &.event-icon {
      width: 20px;
      height: 20px;
      margin-right: 7px;
      filter: invert(1);
    }
  }

  p {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: 5px;

    a {
      color: #fff;
      font-weight: 600;
      transition: 0.2s ease-in-out;

      &:hover {
        letter-spacing: 2px;
      }
    }
  }

  /* * Description context window */
  .description-container {
    height: 180px;
    max-height: 300px;
    padding: 10px;
    overflow: auto;
    overflow-x: hidden;
    backdrop-filter: blur(24px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    resize: none;
    /* overflow-y: scroll; */
    scrollbar-width: none; /* For Firefox */

    &::-webkit-scrollbar {
      display: none; /* For Chrome and Safari */
    }

    p {
      color: #222;
    }
  }

  button {
    display: block;
    margin-top: 20px;
    background: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    text-align: center;

    &:hover {
      background-color: #f4f4f4;
    }
  }
}

/* ! Event filtering animations*/
/* .card.fade-out {
  animation: fadeOut 0.5s forwards;
} */

/* .card.fade-in {
  animation: fadeIn 0.5s forwards;
} */

/* .card.show {
  animation: fadeIn 0.5s ease-out;
} */

/* / MOBILE 360px | MAIN STYLING  */
@media only screen and (min-width: 0px) {
  /* ! Main container */
  .main-container {
    position: relative;

    /* ! Home section */
    #home-section {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100svh;

      .home-section-container {
        position: absolute;
        right: 0;
        width: 100%;
        min-height: 100svh;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        transition: 0.5s;
        text-align: center;

        &.active {
          /* + Pushes the home content to the left */
          right: 250px;
        }

        /* * Header */
        header {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          padding: 40px;
          z-index: 8999;
          display: flex;
          justify-content: space-between;
          align-items: center;

          #leaflet-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: left;
            cursor: pointer;
            transition: opacity 0.3s ease;

            #leaflet-logo-img {
              width: auto;
              width: 25%;
            }

            .logo-text {
              color: #fff;
              text-transform: uppercase;
              cursor: context-menu;
              padding-top: 10px;
              font-size: 0.8rem;
              cursor: pointer;
            }
          }

          /* * Toggle burger */
          .toggle {
            position: relative;
            width: 60px;
            height: 60px;
            background-image: url(/media/icons/MenuOpenIcon.svg);
            filter: invert(1);
            background-repeat: no-repeat;
            background-size: 30px;
            background-position: center;
            cursor: pointer;

            &.active {
              background: url(/media/icons/MenuCloseIcon.svg);
              filter: invert(1);
              background-repeat: no-repeat;
              background-size: 30px;
              background-position: center;
              cursor: pointer;
            }
          }
        }

        /* * Home section text */
        .text {
          position: relative;
          z-index: 10;
          display: flex;
          flex-direction: column;
          align-items: center;

          h2 {
            font-size: 2.8rem;
            font-weight: 800;
            color: #fff;
            line-height: 1em;
            text-transform: uppercase;
          }

          h3 {
            font-size: 1.23rem;
            font-weight: 700;
            color: #fff;
            line-height: 1em;
            text-transform: uppercase;
          }

          p {
            font-size: 1rem;
            margin: 20px 0;
            font-weight: 500;
            max-width: 500px;
          }

          /* * Download button */
          a {
            display: inline-block;
            font-size: 1rem;
            padding: 10px 30px;
            margin-top: 5px;
            text-transform: uppercase;
            font-weight: 500;
            color: #fff;
            letter-spacing: 2px;
            transition: 0.2s;
            backdrop-filter: blur(24px);
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 7px;

            &:hover {
              letter-spacing: 6px;
            }

            &.hover-effect:hover {
              letter-spacing: 6px;
            }
          }
        }

        /* * Event arrow down */
        .arrow-down {
          width: 240px;
          width: aut;
          margin-top: 40px;
          animation: pulse 2.5s linear infinite;
          font-size: 1rem;

          &:hover {
            animation: none;
            transform: scale(1.3);
          }

          p {
            margin: 0px;
            text-transform: uppercase;
            font-weight: 600;
          }

          img {
            width: 20%;
            filter: invert(1); /* + Turns the arrow white */
          }
        }

        /* * Home footer */
        .home-footer {
          opacity: 1;
          transition: opacity 0.7s ease;
          position: absolute;
          bottom: 0;
          width: 90vw;
          max-width: 1300px;
          margin-bottom: 10px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          text-align: center;
          color: #fff;
          font-size: 0.8rem;
          font-weight: 600;
          z-index: 10;

          p {
            width: 200px;
          }

          /* * Social icons */
          .social {
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 1;
            transition: opacity 0.7s ease;
            width: 200px;

            li {
              a {
                display: inline-block;
                filter: invert(1);
                transform: scale(0.5);
                transition: 0.5s;

                &:hover {
                  transform: scale(0.5) translateY(-15px);
                }
              }

              #fb {
                scale: 0.9;
                width: 30px;
              }

              #tw {
                width: 45px;
              }

              #ig {
                width: 40px;
              }
            }
          }
        }

        /* * Sticky header */
        .sticky-header {
          opacity: 0;
          transition: opacity 0.7s ease;
          position: fixed;
          bottom: 0;
          height: 50px;
          width: 100vw;
          max-width: 1300px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          text-align: center;
          color: #fff;
          font-size: 0.8rem;
          font-weight: 600;
          z-index: 9999;
          backdrop-filter: blur(24px);
          background: rgba(255, 255, 255, 0.1);
          border: 1px solid rgba(255, 255, 255, 0.5);
          border-radius: 7px;

          /* * Location filter buttons */
          button {
            padding: 5px 10px;
            text-transform: uppercase;
            color: #fff;
            letter-spacing: 2px;
            transition: 0.2s;
            backdrop-filter: blur(24px);
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 7px;
            cursor: pointer;
            font-size: 0.6rem;

            &:active {
              transform: scale(0.9);
            }

            &:focus {
              transform: scale(1);
            }
          }
        }
      }
    }

    /* ! Event section */
    #event-section {
      position: absolute;
      top: 100svh;
      left: 0;
      width: 100%;
      height: 100svh;
      z-index: 2;
      display: grid;
      align-items: center;
      justify-content: center;
      padding: 2rem 0;

      .events-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0.7rem;
        width: 90vw;
        max-width: var(--max-width);
        justify-content: center;
        padding-bottom: 2rem;

        /* * Event card */
        .card {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 1rem;
          backdrop-filter: blur(24px);
          background: rgba(255, 255, 255, 0.2);
          border: 1px solid rgba(255, 255, 255, 0.5);
          border-radius: 7px;
          cursor: pointer;

          /* + Event filtering animations*/
          &.fade-out {
            animation: fadeOut 0.5s forwards;
          }

          &.fade-in {
            animation: fadeIn 0.5s forwards;
          }

          &.show {
            animation: fadeIn 0.5s ease-out;
          }

          h3 {
            font-size: 1rem;
            color: #fff;
            padding-bottom: 5px;
            margin-bottom: 5px;
          }

          .event-img {
            width: 100%;
            height: 150px;
            object-fit: cover;
            border-radius: 7px;
            margin-bottom: 5px;
          }

          .event-icon {
            width: 20px;
            height: 20px;
            margin-right: 7px;
            filter: invert(1);
          }

          p {
            display: flex;
            align-items: center;
            font-size: 0.8rem;
            margin-top: 5px;
            margin-bottom: 5px;

            a {
              color: #fff;
              font-weight: 600;
              transition: 0.2s ease-in-out;

              &:hover {
                letter-spacing: 2px;
              }
            }
          }
        }
      }
    }

    /* ! Privacy-policy page styling */
    &.privacy-policy-page {
      height: 100svh;
      /* background: #222; */

      .privacy-policy-container {
        margin-top: 150px;
        padding: 0px;

        /* * Support us IMG */
        img {
          width: 200px;
          margin-top: 15px;
          border-radius: 15px;
        }

        .privacy-policy-text {
          min-width: 60vw;
          padding: 0px;
        }
      }
    }

    /* ! Features page styling */
    &.features-page {
      height: 100svh;

      .features-container {
        margin-top: 100px;

        .features-list {
          font-size: 1rem;
          margin: 20px 0;
          max-width: 60vw;
          text-align: left;
          /* text-align: center; */

          li {
            margin: 15px 0;
            list-style-type: initial;
            font-weight: 600;
          }
        }
      }
    }
  }
}

/* / SMALL LANDSCAPE 568px */
@media only screen and (min-width: 568px) {
  .main-container {
    /* ! Home section */
    #home-section {
      .home-section-container {
        header {
          #leaflet-logo {
            .logo-text {
              font-size: 1rem;
            }
          }
        }

        .text {
          h2 {
            font-size: 4rem;
          }

          h3 {
            font-size: 1.8rem;
          }

          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

/* / LARGE LANDSCAPE 666px */
@media only screen and (min-width: 666px) {
  .main-container {
    /* ! Home section */
    #home-section {
      .home-section-container {
        header {
          #leaflet-logo {
            .logo-text {
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }
}

/* / TABLET 768px */
@media only screen and (min-width: 768px) {
  .main-container {
    /* ! Home section */
    #home-section {
      .home-section-container {
        header {
          #leaflet-logo {
            .logo-text {
              font-size: 1.2rem;
            }
          }
        }

        .text {
          h2 {
            font-size: 4.3rem;
          }

          h3 {
            font-size: 1.9rem;
          }

          p {
            font-size: 1.1rem;
          }
        }
      }
    }

    #event-section {
      .events-container {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

/* / LARGE TABLET / SMALL LAPTOP 1024px */
@media only screen and (min-width: 1024px) {
  .main-container {
    /* ! Home section */
    #home-section {
      .home-section-container {
        header {
          #leaflet-logo {
            .logo-text {
              font-size: 1.3rem;
            }
          }
        }

        .text {
          h2 {
            font-size: 5.5rem;
          }

          h3 {
            font-size: 2.4rem;
          }

          p {
            font-size: 1.2rem;
          }

          a {
            font-size: 1.2rem;
          }
        }

        .home-footer {
          font-size: 1rem;
        }

        .sticky-header {
          button {
            font-size: 1rem;
          }
        }
      }
    }

    /* ! Event section */
    #event-section {
      .events-container {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

/* / FULL DESKTOP 1300px */
@media only screen and (min-width: 1300px) {
  .main-container {
    /* ! Home section */
    #home-section {
      .home-section-container {
        .arrow-down {
          margin-top: 50px;
          font-size: 1.1rem;
        }
      }
    }

    /* ! Event section */
    #event-section {
      .events-container {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

/* / FULL DESKTOP 2500px */
@media only screen and (min-width: 2500px) {
}
